*,
*:after,
*:before {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #f6f6f6;
}

.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
}

.menu li {
  padding: 0.2em 1em;
  color: #000;
  cursor: pointer;
}

.menu li:hover {
  background-color: #f2f2f2;
  border-left: 4px solid #ccc;
}
